# /etc/systemd/system
# maybe move to user? ~/.local/share/systemd/user
# sudo systemctl daemon-reload

[Unit]
Description=Mount External Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/hwsupport/sdcard-mount.sh add %i
ExecStop=/usr/lib/hwsupport/sdcard-mount.sh remove %i
